<div class="content d-grid gap-2 col-6 mx-auto" role="main">
  <h2 class="my-text">Tateti Rxjs</h2>
  <div class="container ">
      <div id="grid">
          <div id="0.0z" class="cruz">
            <div id="0.0c" class="circulo"></div>
          </div>
          
          <div id="1.0z" class="cruz">
            <div id="1.0c" class="circulo"></div>
          </div>
          
          <div id="2.0z" class="cruz">
            <div id="2.0c" class="circulo"></div>
          </div>
          
          <div id="0.1z" class="cruz">
            <div id="0.1c" class="circulo"></div>
          </div>
          
          <div id="1.1z" class="cruz">
            <div id="1.1c" class="circulo"></div>
          </div>
          
          <div id="2.1z" class="cruz">
            <div id="2.1c" class="circulo"></div>
          </div>
          
          <div id="0.2z" class="cruz">
            <div id="0.2c" class="circulo"></div>
          </div>
          
          <div id="1.2z" class="cruz">
            <div id="1.2c" class="circulo"></div>
          </div>
          
          <div id="2.2z" class="cruz">
            <div id="2.2c" class="circulo"></div>
          </div>
          
      </div>
      <div id="log-container" class="my-text2"></div>
  </div>
  <div class="d-grid gap-2">
    <button (click)="resetTateti()" type="button" class="btn btn-primary">Reset</button>
    <a routerLink="/menu" routerLinkActive="active"><button type="button" class="btn btn-secondary">Volver al menu</button></a>  
  </div>
</div>